
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Santi, nuevo lead. <%= @name.capitalize() %> esta interesado.</h1>
    <p>
      Su correo es: <%= @email %>
    </p>
    <p>
      Su mensaje es: <%= @message %>
    </p>
    <p>Feliz día.</p>
  </body>
</html>